div {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: calc(50vh - 50px);
}

.one {
  background-color: lightblue;
}
.two {
  background-color: coral;
}
.three {
  background-color: lightgreen;
  border-top: 4px solid black;
}
.four {
  background-color: firebrick;
}

.one:hover {
  transform: skewX(45deg);
}
.two:hover {
  transform: scale(2, 0.5);
}
.three:hover {
  transform: rotate(180deg);
}

.four:hover {
  transform: translate(40px, 50px);
}
